files:
  "/etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      server {
        listen 80;
        root /var/app/current/build;
        index index.html;
        location / {
          try_files $uri $uri/ /index.html;
        }
      }
    
container_commands:
  01_reload_nginx:
    command: "sudo service nginx reload"
